.helpers-separator1 {
  padding-top: 64px;
}
.helpers-separator2 {
  padding-top: 188px;
}
.helpers-separator3 {
  padding-top: 140px;
}
.helpers-separator4 {
  padding-top: 117px;
}
.helpers-separator5 {
  padding-top: 137px;
}
.helpers-separator7 {
  padding-top: 18px;
}
.helpers-separator8 {
  padding-top: 185px;
}
.helpers-separator10 {
  padding-top: 120px;
}
.helpers-separator11 {
  padding-top: 100px;
}
.helpers-separator12 {
  padding-top: 200px;
}
.helpers-separator13 {
  padding-top: 125px;
}
.helpers-separator14 {
  padding-top: 20px;
}
.helpers-separator15 {
  padding-top: 30px;
}
.helpers-separator16 {
  padding-top: 22px;
}
.helpers-clear {
  clear: both;
}
.helpers-displayNone {
  display: none !important;
}
.helpers-paddingLeft22 {
  padding-left: 22px;
}
.helpers-paddingLeft44 {
  padding-left: 44px;
}
.helpers-paddingTop4 {
  padding-top: 4px;
}

@media screen and (max-width: 900px) {
  .helpers-separator1 {
    padding-top: 30px;
  }
  .helpers-separator2 {
    padding-top: 90px;
  }
  .helpers-separator3 {
    padding-top: 50px;
  }
}
@media screen and (max-width: 680px) {
  .helpers-separator1 {
    padding-top: 10px;
  }
  .helpers-separator2 {
    padding-top: 30px;
  }
  .helpers-separator3 {
    padding-top: 20px;
  }
  .helpers-separator4 {
    padding-top: 60px;
  }
  .helpers-separator8 {
    padding-top: 80px;
  }
}
@media screen and (max-width: 450px) {
  .helpers-separator10 {
    padding-top: 50px;
  }
  .helpers-paddingLeft44 {
    padding-left: 0;
  }
  .helpers-separator8 {
    padding-top: 10px;
  }
}