/*colors*/
$color-main-brand-light: rgb(180,240,240);
$color-main-brand-bright: rgb(101,246,233);
$color-main-text-dark: rgb(81,81,83);
$color-main-text-light: rgb(236,236,236);
$color-main-text-shadow: rgba(158, 157, 157, 0.68);
$color-header-bg: rgb(239,240,242);
$color-heared-menu-bg: rgb(235,235,237);
$color-footer-bg: rgb(39,42,47);
$color-footer-media-bg: rgb(65,66,70);
$color-contact-btn-border: rgb(120,120,122);
$color-contact-block: rgb(35,52,66);
$color-contact-block-separator: rgba(236, 236, 236, 0.4);
$color-gray-section-bg: rgb(249,250,252);
$color-slideshow-gray-bg: rgb(235,235,237);
$color-slideshow-got: rgb(207,207,207);
$color-slideshow-bnt-bg: rgb(255,255,255);
$color-our-services-tile: rgb(0,0,0);
$color-our-services-tile-text: rgb(17,44,37);
$color-our-services-tile-scroll: rgba(71, 146, 140, 0.69);
$color-small-team-light-text: rgb(124,148,150);
$color-textarea-scroll: rgba(236, 236, 236, 0.4);

/*fonts*/
$fontSize-smallest: 15px;
$fontSize-smaller: 16px;
$fontSize-small: 17px;
$fontSize-base: 18px;
$fontSize-large: 20px;
$fontSize-larger: 21px;
$fontSize-largest: 40px;
$fontSize-jumbo: 45px;

$letterSpacing-micro: -0.1px;
$letterSpacing-smallest: 0.2px;
$letterSpacing-smaller: 0.7px;
$letterSpacing-small: 0.8px;
$letterSpacing-base: 0.9px;
$letterSpacing-large: 1px;
$letterSpacing-larger: 2px;
$letterSpacing-largest: 3px;
$letterSpacing-jumbo: 4.5px;

$lineHeight-small: 22px;
$lineHeight-base: 27px;
$lineHeight-large: 36px;
$lineHeight-larger: 55px;
$lineHeight-largest: 62px;