@import '../variables.scss';

.footer {
  background-color: $color-footer-bg;
  height: 312px;
}
.footer-infoWrapper {
  position: relative;
  margin: auto;
  text-align: center;
  top: 28%;
  width: 30%;
}
.footer-followUsText {
	font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: $fontSize-smaller;
  font-weight: 400;
	color: #ececec;
}
.footer-media {
	width: 50%;
  height: 41px;
  margin: 13px auto;
  display: flex;
  justify-content: space-between;
}
.footer-mediaItem {
  height: 100%;
  width: 45px;
  display: inline-block;
  background-color: $color-footer-media-bg;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  &:hover {
  	background-color: $color-main-brand-bright;
  }
}
.footer-mediaItem--facebook {
	background-image: url('img/facebook-white.png');
  background-size: 12px;
  &:hover {
		background-image: url('img/facebook.png');
  }
}
.footer-mediaItem--twitter {
	background-image: url('img/twitter-white.png');
  background-size: 20px;
    &:hover {
		background-image: url('img/twitter.png');
  }
}
.footer-mediaItem--site {
	background-image: url('img/site-white.png');
  &:hover {
		background-image: url('img/site.png');
		background-size: 20px;
  }
}
.footer-mediaItem--pinterest {
	background-image: url('img/pinterest-white.png');
  &:hover {
		background-image: url('img/pinterest.png');
  }
}
.footer-rightsText {
	font-family: 'Raleway', sans-serif;
  font-size: $fontSize-smaller;
  font-weight: 400;
	color: #ececec;
	letter-spacing: $letterSpacing-smallest;
  margin-top: 40px;
}

@media screen and (max-width: 900px) {
  .footer-infoWrapper {
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  .footer-infoWrapper {
    width: 70%;
  }
}
@media screen and (max-width: 450px) {
  .footer-infoWrapper {
    width: 90%;
  }
}