@import '../variables.scss';

.ourServicesTile-infoBlock {
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  margin-bottom: 10px;
  z-index: 1;
}
.ourServicesTile-transparentColorBlock {
  height: 100%;
  z-index: 2;
  position: relative;
}
.ourServicesTile-transparentColorBlock--gray {
  background-color: $color-our-services-tile;
  opacity: 0.6;
}
.ourServicesTile-transparentColorBlock--cyan {
  background-color: $color-main-brand-bright;
  opacity: 0.95;
}
.ourServicesTile-infoWrapper {
  height: 100%;
  z-index: 3;
  position: absolute;
  color: $color-main-text-light;
}
.ourServicesTile-infoWrapper--cyan {
	color: $color-our-services-tile-text;
	.ourServicesTile-infoWrapperSubtitle {
		padding-top: 60px !important;
	}
}
.ourServicesTile-overflowWrapper {
	max-height: 200px;
  overflow: auto;
}
.ourServicesTile-overflowWrapper::-webkit-scrollbar { 
	width: 4px; height: 3px;
}
.ourServicesTile-overflowWrapper::-webkit-scrollbar-button {
	background-color: transparent; 
}
.ourServicesTile-overflowWrapper::-webkit-scrollbar-track-piece { 
	background-color: transparent;
}
.ourServicesTile-overflowWrapper::-webkit-scrollbar-thumb { 
	height: 3px; 
	background-color: $color-our-services-tile-scroll; 
	border-radius: 1px;
}
.ourServicesTile-block1 {
	background-image: url('/img/works-6.jpg');
  height: 421px;
  float: left;
  width: 57%;
  .ourServicesTile-infoWrapperSubtitle {
  	padding-top: 180px;
  }
  .ourServicesTile-infoBlockButton {
  	left: 9.5%;
  	top: 83%;
  }
}
.ourServicesTile-block2 {
	background-image: url('/img/services-2.jpg');
  height: 421px;
  float: right;
  width: 41%;
  .ourServicesTile-infoWrapperSubtitle {
  	padding-top: 180px;
  }
  .ourServicesTile-infoBlockButton {
    left: 12.5%;
  	top: 83%;
  }
}
.ourServicesTile-block3 {
	background-image: url('/img/services-3.png');
  float: left;
  width: 57%;
  height: 373px;
  .ourServicesTile-infoWrapperSubtitle {
  	padding-top: 160px;
  }
  .ourServicesTile-infoBlockButton {
    left: 9.5%;
  	top: 81%;
  }
}
.ourServicesTile-block4 {
	background-image: url('/img/about-us-chair.jpg');
  float: right;
  width: 41%;
  height: 373px;
  .ourServicesTile-infoWrapperSubtitle {
  	padding-top: 160px;
  }
  .ourServicesTile-infoBlockButton {
  	left: 12.5%;
  	top: 81%;
  }
}
.ourServicesTile-block5 {
	background-image: url('/img/services-5.png');
  float: left;
  width: 41%;
  height: 373px;
  .ourServicesTile-infoWrapperSubtitle {
  	padding-top: 130px;
  }
  .ourServicesTile-infoBlockButton {
  	left: 12.5%;
    top: 80%;
  }
}
.ourServicesTile-block6 {
	background-image: url('/img/services-6.jpg');
  float: right;
  width: 57%;
  height: 373px;
  .ourServicesTile-infoWrapperSubtitle {
  	padding-top: 130px;
  }
  .ourServicesTile-infoBlockButton {
    left: 9.5%;
    top: 80%;
  }
}
.ourServicesTile-infoWrapperSubtitle {
  font-size: $fontSize-large;
  letter-spacing: 0.06em;
  padding: 60px 0 0 60px;
}
.ourServicesTile-infoText {
  padding: 0 70px 0 60px;
  font-size: 0.94em;
}
.ourServicesTile-infoBlockButton {
  position: absolute;
  height: 18px;
  width: 180px;
  z-index: 3;
}
.ourServicesTile-buttonImage {
  height: 100%;
  width: 100%;
  display: inline-block;
  background-repeat: no-repeat;
}
.ourServicesTile-buttonImage--cross {
  background-image: url('/img/close-cross.png');
  width: 18px;
  cursor: pointer;
}
.ourServicesTile-buttonImage--know-more {
  color: rgb(236, 236, 236);
  text-transform: uppercase;
  font-size: $fontSize-base;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  float: left;
  margin-left: 16px;
  cursor: pointer;
}
.ourServicesTile-buttonImage--arrow {
  background-image: url('/img/arrow.png');
  float: right;
  width: 15%;
  position: relative;
  top: 3px;
}

@media screen and (max-width: 1000px) {
  .ourServicesTile-overflowWrapper {
    max-height: 200px;
  }
}
@media screen and (max-width: 900px) {
  .ourServicesTile-infoWrapperSubtitle {
    padding-top: 60px !important;
  }
}
@media screen and (max-width: 700px) {
  .ourServicesTile-block1, .ourServicesTile-block2, .ourServicesTile-block3, .ourServicesTile-block4, .ourServicesTile-block5, .ourServicesTile-block6 {
    width: 100%
  }
} 
@media screen and (max-width: 680px) {
  .ourServicesTile-overflowWrapper {
    max-height: 170px;
  }
}
@media screen and (max-width: 450px) {
  .ourServicesTile-infoText, .ourServicesTile-infoWrapperSubtitle {
    padding: 20px !important;
    text-align: center;
    margin: 0;
  }
}