.featuredWorksTile-image {
  height: 360px;
  width: 370px;
  background-position: 50% 50%;
  background-size: cover;
  margin-bottom: 10px;
}
.featuredWorksTile-work1 {
  background-image: url('img/works-1.jpg');
}
.featuredWorksTile-work2 {
  background-image: url('img/works-2.jpg');
}
.featuredWorksTile-work3 {
  background-image: url('img/works-3.jpg');
}
.featuredWorksTile-work4 {
  background-image: url('img/works-4.jpg');
}
.featuredWorksTile-work5 {
  background-image: url('img/works-5.jpg');
}
.featuredWorksTile-work6 {
  background-image: url('img/works-6.jpg');
}